@charset "UTF-8";
/*============================================
要件定義等
============================================*/
/*============================================
section 共通クラス
============================================*/
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
  text-align: center;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a :hover {
  opacity: 0.8;
}

.button1, .course-item a {
  color: #333;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #333;
  text-decoration: none;
  border-radius: 15PX;
}

/*============================================
header
============================================*/
header {
  background-color: #dfeedf;
  padding: 25px 0;
  width: 100%;
}

.header-left {
  float: left;
  font-weight: bold;
  font-size: 28px;
}

@media screen and (max-width: 576px) {
  .header-left {
    float: none;
  }
}

.header-right {
  float: right;
}

@media screen and (max-width: 576px) {
  .header-right {
    float: none;
  }
}

.header-nav-item {
  list-style: none;
  display: inline-flex;
  margin-left: 15px;
}

.header-nav-item a {
  line-height: 42px;
}

.header-nav-item a:hover {
  color: #1f4d3d;
}

/*============================================
top
============================================*/
.top {
  background-image: url(../img/sample.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}

.top-title {
  padding: 150px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

/*============================================
about
============================================*/
.about {
  padding: 60px;
}

.about-title {
  padding-bottom: 20px;
}

/*============================================
course
============================================*/
.course {
  background-color: #dfeedf;
  padding-top: 60px;
  padding-bottom: 60px;
}

.course-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .course-wrapper {
    flex-wrap: wrap;
  }
}

.course-title {
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  padding-bottom: 5px;
}

.course-item {
  width: 30%;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .course-item {
    width: 100%;
    margin-bottom: 60px;
  }
}

.course-item a:hover {
  color: #379171;
}

/*============================================
contact
============================================*/
.contact {
  padding: 60px;
}

.contact-title {
  padding-bottom: 5px;
}

.contact-form {
  padding-top: 30px;
}

form {
  padding-bottom: 10px;
}

/*============================================
access
============================================*/
.access {
  padding: 60px;
}

.access iframe {
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  .access iframe {
    max-width: 100%;
    text-align: center;
  }
}

.access-title {
  padding-bottom: 15px;
}

/*============================================
profile
============================================*/
.profile {
  background-color: #dfeedf;
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile-title {
  padding-bottom: 50px;
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .profile-wrapper {
    flex-wrap: wrap;
  }
}

.profile-left {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .profile-left {
    width: 100%;
  }
}

.profile-right {
  width: 30%;
}

@media screen and (max-width: 576px) {
  .profile-right {
    width: 100%;
  }
}

img {
  max-width: 100%;
}

/*============================================
footer
============================================*/
footer {
  padding: 15px;
}

.footer-title {
  float: right;
}

@media screen and (max-width: 576px) {
  .footer-title {
    float: none;
  }
}

/*============================================
page-top
============================================*/
#page-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

#page-top a {
  background-color: #999;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
}

#page-top:hover {
  background-color: #666;
  text-decoration: none;
}
