/*============================================
要件定義等
============================================*/
$title-color:rgb(255, 255, 255);
$font-base-size:20px;
$padding-base-height:60px;


//マップ型変数breakpointsを定義
$breakpoints: (
//キー 値
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 768px)',
 'lg': 'screen and (max-width: 992px)',
 'xl': 'screen and (max-width: 1200px)'
) !default;

//メディアクエリ用のmixin/デフォ:md
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタム
    @content;
  }
}


/*============================================
section 共通クラス
============================================*/


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:1.5;
   }
   
   .container{
       width: 90%;
       max-width: 980px;
       margin: auto;
       text-align: center;
   }

   .clear::after{
       content: "";
       clear:both;
       display: block;
   }

   h2{
       font-weight: bold;
       font-size: $font-base-size;
   }
   
   a{
       text-decoration: none;
       margin: 5px 0;
   }

   a :hover{
       opacity: 0.8;
   }

   .button1{
    color: #333;
    display: inline-block;
    text-decoration: none;
    border-radius: 15PX;

}
/*============================================
header
============================================*/
header{
    background-color:$title-color;
    padding: 25px 0;
    width: 100%;
    }


.header-left{
        float: left;
        font-weight: bold;
        font-size: $font-base-size + 20px;
        @include mq(sm){
            float: none;
        }
    
}


 .header-right{ 
        float: right;
        @include mq(sm){
            float: none;
        }
    

}


.header-nav-item{
    list-style: none;
    display: inline-flex;
    margin-left: 15px;


a {
    line-height: 42px;

   &:hover{
       color: rgb(31, 77, 61);
   } 
}
}
/*============================================
top
============================================*/
.top{
    background-image: url(../img/sea1.JPG);
    background-size: cover;
    background-position: center;
    opacity: 0.75;
}

.top-title{
    padding: 150px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: $font-base-size + 5px;
}

/*============================================
about
============================================*/
.about{
    padding: $padding-base-height;
}
.about-title{
    padding-bottom:20px;
}

/*============================================
series
============================================*/
.series{
    background-color:$title-color;
    padding-top: $padding-base-height;
    padding-bottom: $padding-base-height;
}

.series-title{
    padding-bottom: 50px;
}


.series-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include mq(sm){
        flex-wrap: wrap;
    }
}

.series-items{
    display: inline-block;    
    max-width: 55%;
    margin: 20px 0;
    font-size: $font-base-size -8px;

    @include mq(sm){
        min-width: 100%;
    }
    
    img{
    max-width: 100%;
    padding-bottom: 5px;
    
    
    }
    
    a{
      @extend.button1;
      &:hover{
          color: rgb(55, 145, 113);
      }
  }
  

  
}

/*============================================
photo
============================================*/
.photo{
    background-color:$title-color;
    padding-top: $padding-base-height;
    padding-bottom: $padding-base-height;
}

.photo-wrapper{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include mq(sm){
        flex-wrap: wrap;
    }
}
.photo-title{
    padding-bottom: 30px;
}

img{
    max-width: 100%;
    padding-bottom: 20px;
}

.photo-item{
    display: inline-block;    
    max-width: 31%;
    margin: 20px 0;
    font-size: $font-base-size -8px;

    @include mq(sm){
        min-width: 100%;
    }
    
    img{
    max-width: 100%;
    padding-bottom: 5px;
    
    
    }
    
    a{
      @extend.button1;
      &:hover{
          color: rgb(55, 145, 113);
      }
  }
    
  input{
      border-radius: 5px;
      
  }
}



/*============================================
profile
============================================*/
.profile{
    background-color:$title-color;
    padding-top:$padding-base-height;
    padding-bottom: $padding-base-height;
}

.profile-title{
    padding-bottom: 50px;
}
.profile-wrapper{
    display: flex;
    justify-content: space-around;
    @include mq(sm){
        flex-wrap: wrap;    
    }
    
}
.profile-left{
    width: 50%;

    img{
        max-width: 60%;

    }
    
    @include mq(sm){
        width: 100%;
    }

    
}

.profile-right{
    width: 35%;
    @include mq(sm){
        width: 100%;
    }
}


/*============================================
footer
============================================*/

footer{
    padding: 15px;
}

.footer-title{
    float:right;


@include mq(sm){
    float: none;
}
}


/*============================================
submit
============================================*/
input[type="submit"]{
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #454949;
  font-size: 10px;
  letter-spacing: 0.1em;

}

/*============================================
button
============================================*/

.button-wrapper{
    margin: auto;
    text-align: center;
    @include mq(sm){
        flex-wrap: wrap;
        max-width: 100%;
    }
}

input[type="button"]{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #454949;
    font-size: 10px;
    letter-spacing: 0.1em;
  
  }

  button[type="button"]{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #454949;
    font-size: 10px;
    letter-spacing: 0.1em;
  
  }
/*============================================
page-top
============================================*/

#page-top {
    position: fixed;
    bottom: 70px;
    right: 20px;

    a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}
    &:hover {
    background-color: #666;
    text-decoration:none;
}
}

/*============================================
cart.php
============================================*/



.cart-photo{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
        @include mq(sm){
            flex-wrap: wrap;
        }
    }
    
    .cart-amount{
        display: inline-block;    
        max-width: 30%;
        margin: 40px 0;
        font-size: $font-base-size -8px;
    
        @include mq(sm){
            min-width: 100%;
        }
        
        img{
        max-width: 100%;
        padding-bottom: 5px;
        
        
        }

}

.total-payment{
    text-align: center;
    margin: 80px;
}

/*============================================
contact.php
============================================*/

.contact-title{
    margin-bottom: 10px;
}

.contact-form{
    margin: 30px;
}

input{
margin: 15px 0px;

}
textarea{
    margin: 15px 0px 30px 0px;
}

/*============================================
sent.php
============================================*/

.sent-item{
    margin: 50px;
}