@charset "UTF-8";
/*============================================
要件定義等
============================================*/
/*============================================
section 共通クラス
============================================*/
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
  text-align: center;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
  margin: 5px 0;
}

a :hover {
  opacity: 0.8;
}

.button1, .series-items a, .photo-item a {
  color: #333;
  display: inline-block;
  text-decoration: none;
  border-radius: 15PX;
}

/*============================================
header
============================================*/
header {
  background-color: white;
  padding: 25px 0;
  width: 100%;
}

.header-left {
  float: left;
  font-weight: bold;
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .header-left {
    float: none;
  }
}

.header-right {
  float: right;
}

@media screen and (max-width: 576px) {
  .header-right {
    float: none;
  }
}

.header-nav-item {
  list-style: none;
  display: inline-flex;
  margin-left: 15px;
}

.header-nav-item a {
  line-height: 42px;
}

.header-nav-item a:hover {
  color: #1f4d3d;
}

/*============================================
top
============================================*/
.top {
  background-image: url(../img/sea1.JPG);
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}

.top-title {
  padding: 150px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

/*============================================
about
============================================*/
.about {
  padding: 60px;
}

.about-title {
  padding-bottom: 20px;
}

/*============================================
series
============================================*/
.series {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.series-title {
  padding-bottom: 50px;
}

.series-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .series-wrapper {
    flex-wrap: wrap;
  }
}

.series-items {
  display: inline-block;
  max-width: 55%;
  margin: 20px 0;
  font-size: 20px -8px;
}

@media screen and (max-width: 576px) {
  .series-items {
    min-width: 100%;
  }
}

.series-items img {
  max-width: 100%;
  padding-bottom: 5px;
}

.series-items a:hover {
  color: #379171;
}

/*============================================
photo
============================================*/
.photo {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.photo-wrapper {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .photo-wrapper {
    flex-wrap: wrap;
  }
}

.photo-title {
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  padding-bottom: 20px;
}

.photo-item {
  display: inline-block;
  max-width: 31%;
  margin: 20px 0;
  font-size: 20px -8px;
}

@media screen and (max-width: 576px) {
  .photo-item {
    min-width: 100%;
  }
}

.photo-item img {
  max-width: 100%;
  padding-bottom: 5px;
}

.photo-item a:hover {
  color: #379171;
}

.photo-item input {
  border-radius: 5px;
}

/*============================================
profile
============================================*/
.profile {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile-title {
  padding-bottom: 50px;
}

.profile-wrapper {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .profile-wrapper {
    flex-wrap: wrap;
  }
}

.profile-left {
  width: 50%;
}

.profile-left img {
  max-width: 60%;
}

@media screen and (max-width: 576px) {
  .profile-left {
    width: 100%;
  }
}

.profile-right {
  width: 35%;
}

@media screen and (max-width: 576px) {
  .profile-right {
    width: 100%;
  }
}

/*============================================
footer
============================================*/
footer {
  padding: 15px;
}

.footer-title {
  float: right;
}

@media screen and (max-width: 576px) {
  .footer-title {
    float: none;
  }
}

/*============================================
submit
============================================*/
input[type="submit"] {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #454949;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/*============================================
button
============================================*/
.button-wrapper {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .button-wrapper {
    flex-wrap: wrap;
    max-width: 100%;
  }
}

input[type="button"] {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #454949;
  font-size: 10px;
  letter-spacing: 0.1em;
}

button[type="button"] {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #454949;
  font-size: 10px;
  letter-spacing: 0.1em;
}

/*============================================
page-top
============================================*/
#page-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

#page-top a {
  background-color: #999;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
}

#page-top:hover {
  background-color: #666;
  text-decoration: none;
}

/*============================================
cart.php
============================================*/
.cart-photo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .cart-photo {
    flex-wrap: wrap;
  }
}

.cart-amount {
  display: inline-block;
  max-width: 30%;
  margin: 40px 0;
  font-size: 20px -8px;
}

@media screen and (max-width: 576px) {
  .cart-amount {
    min-width: 100%;
  }
}

.cart-amount img {
  max-width: 100%;
  padding-bottom: 5px;
}

.total-payment {
  text-align: center;
  margin: 80px;
}

/*============================================
contact.php
============================================*/
.contact-title {
  margin-bottom: 10px;
}

.contact-form {
  margin: 30px;
}

input {
  margin: 15px 0px;
}

textarea {
  margin: 15px 0px 30px 0px;
}

/*============================================
sent.php
============================================*/
.sent-item {
  margin: 50px;
}
